.foto-grupo {
  width: 470px;
  height: 350px;
  overflow: hidden;
  margin-bottom: 75px;
}

.carousel-container {
  display: flex;
  animation: carouselAnimation 60s infinite;
}

.carousel-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes carouselAnimation {
  0% {
    transform: translateX(0);
  }
  6.5% {
    transform: translateX(0);
  }
  13% {
    transform: translateX(-100%);
  }
  19.5% {
    transform: translateX(-100%);
  }
  26% {
    transform: translateX(-200%);
  }
  32.5% {
    transform: translateX(-200%);
  }

  39% {
    transform: translateX(-300%);
  }
  45.5% {
    transform: translateX(-300%);
  }
  52% {
    transform: translateX(-400%);
  }

  58.5% {
    transform: translateX(-400%);
  }

  65% {
    transform: translateX(-500%);
  }

  71.5% {
    transform: translateX(-500%);
  }

  78% {
    transform: translateX(-600%);
  }

  84.5% {
    transform: translateX(-600%);
  }

  91% {
    transform: translateX(-700%);
  }

  97.5% {
    transform: translateX(-700%);
  }
}

@media screen and (max-width: 640px) {

  .carousel-container {
    width: auto;
  }

  .carousel-container img {
    width: 100%;
    object-fit: cover;
  }
}
