/*formulario */
.contenedor-contactanos {
  width: 960px;
  font-family: var(--Permanent-Marker);
  margin: 0 auto;
  padding: 50px 0 0 0;
}

form {
  margin: 70px 25%;
}

.div-contacto p {
  text-align: center;
  font-size: 1.5rem;
}

fieldset {
  border-style: none;
}

#tele, #mail{
  margin-top:15px;
}

form label,
form legend {
  display: block;
  font-size: 1.2rem;
  margin: 0 0 10px;
}

form legend {
  font-size: 1.5rem;
}

input,
textarea {
  font-size: 1.2rem;
  border: none;
}

.cambio-color {
  color: #82b901;
  text-transform: uppercase;
}

textarea {
  width: 100%;
}

.input-padron {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 470px;
}

.label-checkbox {
  margin: 20px 0;
}

.hero {
  text-align: center;
}

.btnEnviar {
  width: 100%;
  margin: 20px auto 70px auto;
  padding: 15px 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #82b901;
  border: none;
  border-radius: 10px;
  transition: 1s all;
  cursor: pointer;
}

.btnEnviar:hover {
  background-color: #72a105;
  transform: scale(1.2);
}

@media screen and (max-width: 640px) {
  /*formulario*/

  .contenedor-contactanos {
    width: auto;
  }

  .div-contacto p {
    text-align: justify;
    padding: 0 30px 0 30px;
  }

  form {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
  }

  .div-contacto h2 {
    margin: auto;
    padding: 0 0 50px 50px;
  }

  form label,
  form legend {
    font-size: 1.3rem;
  }

  .input-padron {
    padding: 12px 0px;
    width: 100%;
  }

  textarea {
    width: 100%;
  }

  input::placeholder {
    font-size: 1.3em;
    font-style: italic;
    padding-left: 10px;
  }

}

  @media screen and (min-width: 320px) and (max-width: 480px) {

   


    /*formulario*/
/*
    .contenedor-contactanos {
      width: auto;
      align-content: justify;
    }

    form {
      width: 80%;
      margin: 0 auto;
    }

    .div-contacto h2 {
      margin: auto;
      padding: 0 0 50px 50px;
    }

    form label,
    form legend {
      font-size: 1.5rem;
    }

    .input-padron {
      padding: 12px 0px;
      width: 100%;
    }

    textarea {
      width: 100%;
    }

    input::placeholder {
      font-size: 1.3em;
      font-style: italic;
      padding-left: 10px;
    }
    */

    .final-form p{
      text-align: justify;
      float: left;
      font-size: 1.2rem;
   }

  }

