
.seccion-manuales {
    display: flex;
    margin: 0 auto;
    width: 960px;
    margin-top: 30px;
    padding: 0 30px 0 30px;
  }
  
  .texto-manuales {
    width: 50%;
    padding-right: 10px;
  }

  .texto-manuales h3 {
    padding-bottom: 30px;
    font-family: var(--Permanent-Marker);
    font-size: 1.50rem;
    text-transform: uppercase;
  }

  .texto-manuales p {
    font-family: var(--monserrat);
    text-align: justify;
    line-height: 1.5;
  }
  
  .recuerda img {
    width: 100%;
    padding: 0;
  }

  .imagenes-manual {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
    gap: 15px;
    padding-left: 10px;
    margin-top: 100px;
  }
  
  .imagenes img {
    width: 100%;
    height: 4.5rem;
  }
  
  
  button {
    height: 100%;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: 500ms all;
  }

  button:hover {
    transform: scale(1.2);
    opacity: 0.7;
  }

  @media screen and (max-width:640px) {
    
  .seccion-manuales {
    width: auto;
    flex-direction: column;
  }

  .texto-manuales {
    width: 100%;
  }

  .imagenes-manual {
    width: auto;
    justify-content: center;
    margin: 30px 0 30px 0;
    padding: 0;
  }
  
  .imagenes img {
    width: 100%;
    height: 5rem;
  }
  

}
@media screen and (min-width:320px) and (max-width:480px){
  .seccion-manuales {
    width: auto;
    flex-direction: column;
  }

  .texto-manuales {
    width: 100%;
  }

  .imagenes-manual {
    width: auto;
    justify-content: center;
    margin: 30px 0 30px 0;
  }
  
  .imagenes img {
    width: 100%;
    height: 5rem;
  }
}
 
 

  


